/* Base styles*/
:root {
  --slate-900: #0f172a;
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-300: #cbd5e1;
  --slate-200: #e2e8f0;
  --teal-900: #134e4a;
  --teal-400: #2dd4bf;
  --teal-300: #5eead4;
  --blue-500: #3b82f6;
  --purple-600: #9333ea;

  --teal-400-tr: #2dd4bf1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--slate-900);
  line-height: 1.625;
  color: var(--slate-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  scroll-behavior: smooth;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


#main-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

@media (min-width: 1024px) {
  #main-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
}


/***********************HEADER***********************/
/***********************HEADER***********************/
/***********************HEADER***********************/
/***********************HEADER***********************/
/***********************HEADER***********************/

header {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 24px;
  position: static;
  height: auto;
  width: 100%;
}

@media (min-width: 768px) {
  header {
    padding: 62px 48px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 96px 48px;
    padding-bottom: 24px;
    position: sticky;
    max-height: 100vh;
    width: 48%;
    height: 100vh;
  }
}


/***********************subtitle***********************/

.subtitle{
  color : rgb(226, 232, 240);
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.75rem;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .subtitle{
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .subtitle{
    font-size: 1.25rem;
  }
}

/***********************paragraph***********************/

.intro-paragraph{
  color : rgb(148, 163, 184);
  margin-top: 16px;
  max-width: 27rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .intro-paragraph{
    max-width: 35rem;
  }
}

/***********************nav*menu***********************/

nav-menu {
  display: none;
}

/* Show on Desktop (1024px and up) */
@media (min-width: 1024px) {
  nav-menu {
    display: block;
  }
}



/***********************MAIN***********************/
/***********************MAIN***********************/
/***********************MAIN***********************/
/***********************MAIN***********************/
/***********************MAIN***********************/


main {
  padding: 24px 24px;
  width: 100%;
}

@media (min-width: 768px) {
  main {
    padding: 24px 48px;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 90px 30px;
    width: 52%;
  }
}


/***********************ABOUT***********************/

.mb-4 {
  margin-bottom: 16px;
}

.focusEl {
  font-weight: 500;
  color: var(--slate-200);
  text-decoration: none;
}

/***********************Footer***********************/

footer {
  max-width: 28rem;
  padding-bottom: 64px;
  font-size: 0.875rem;
  color: var(--slate-500);
}

@media (min-width: 640px) {
  footer {
    padding-bottom: 0;
  }
}

footer a {
  font-weight: 500;
  color: var(--slate-400);
  text-decoration: none;
}

footer a:hover,
footer a:focus-visible {
  color: var(--teal-300);
}